Flask==2.3.2
Flask_Cors==4.0.0
Flask_JWT_Extended==4.6.0
flask_restx==1.1.0
keras==2.10.0
numpy==1.25.0
Pillow==10.0.1
Pyrebase==3.0.27
Pyrebase4==4.7.1
Requests==2.31.0
tensorflow==2.10.0
Werkzeug==2.3.6
Werkzeug==2.0.2
